* {
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    font-family: arial;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #555;
    color: beige;
}

.clock {
    margin-top: 40%;
}